{% extends 'base.html' %}
{% block title %}Password Reset{% endblock %}
{% block header %}{% endblock header %}
{% block content %}
<div class="container d-flex justify-content-center align-items-center min-vh-100">
<div class="container">
    <div class="col-sm-6">
        <h2 class="display-4">Resset Password</h2>
        <p>We have mailed you instructions for Ressetting password</p>
        <p>If you don't receive it, verified you entered the correct email or check your spam folder</p>
    </div>
</div>
</div>
{% endblock %}
{% block footer %}{% endblock footer %}
